arch: s390x
services:
  - docker
env:
  global:
    - TEST_DIR="$PWD/11.0-jdk11/test/"
    - TEST_SCRIPT="test.sh"
    - BUILD_DIR="$PWD/11.0-jdk11/"
    - REPO="quay.io/ibm/jetty"
    - TAG="$REPO:11.0-jdk11"
before_script: 
  - cd $TEST_DIR && chmod +x $TEST_SCRIPT 
  - docker login quay.io -u $ROBOT -p $ROBOT_TOKEN
script: 
  - docker build $BUILD_DIR --tag $TAG
  - cd $TEST_DIR && bash $TEST_SCRIPT 
after_script:
  - docker push $REPO
